{
  "CN": "kubernetes",
  "hosts": [
    "127.0.0.1",
    {% for host in groups["all"] %}
    "{{ host }}",
    {% endfor %}
    "{{ CLUSTER_KUBERNETES_SVC_IP }}",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster",
    "kubernetes.default.svc.cluster.local."
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "GuangZhou",
      "L": "GuangZhou",
      "O": "k8s",
      "OU": "4Paradigm"
    }
  ]
}
